[general]
compat-delete='delete-sequence'
display-n=0
display-tab-names=0
fullscreen-hide-tabbar=false
gtk-use-system-default-theme=true
hide-tabs-if-one-tab=false
history-size=1000
load-guake-yml=true
max-tab-name-length=100
mouse-display=true
open-tab-cwd=true
prompt-on-quit=true
quick-open-command-line='gedit %(file_path)s'
restore-tabs-notify=true
restore-tabs-startup=true
save-tabs-when-changed=true
scroll-keystroke=true
start-at-login=true
start-fullscreen=false
tab-ontop=true
use-default-font=false
use-popup=true
use-scrollbar=false
use-trayicon=true
window-halignment=0
window-height=96
window-losefocus=false
window-ontop=false
window-refocus=false
window-tabbar=true
window-width=100

[keybindings/global]
show-focus='disabled'
show-hide='<Alt>a'

[keybindings/local]
clipboard-copy='<Alt>c'
clipboard-paste='<Alt>v'
close-tab='disabled'
close-terminal='disabled'
focus-terminal-down='<Alt>j'
focus-terminal-left='<Alt>h'
focus-terminal-right='<Alt>l'
focus-terminal-up='<Alt>k'
move-tab-left='disabled'
move-tab-right='disabled'
new-tab='<Alt>n'
new-tab-cwd='disabled'
new-tab-home='disabled'
next-tab='<Primary>Tab'
next-tab-alt='disabled'
previous-tab='<Primary><Shift>Tab'
previous-tab-alt='disabled'
rename-current-tab='disabled'
split-tab-horizontal='<Alt>u'
split-tab-vertical='<Alt>i'

[style/background]
transparency=100

[style/font]
allow-bold=true
palette='#121212121212:#FAFA25257373:#9797E1E12323:#DFDFD4D46060:#0F0F7F7FCFCF:#87870000FFFF:#4242A7A7CFCF:#BBBBBBBBBBBB:#555555555555:#F5F566669C9C:#B0B0E0E05E5E:#FEFEF2F26C6C:#0000AFAFFFFF:#AFAF8787FFFF:#5050CDCDFEFE:#FFFFFFFFFFFF:#BBBBBBBBBBBB:#121212121212'
palette-name='Molokai'
style='Hack 15'
